<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="../template.xhtml">
	<ui:define name="content">
		<h:form id="frmVaga">
			<p:panel id="pnl" header="Vaga" style="margin-bottom:10px;">

				<p:messages id="messages" />
				<h:panelGrid columns="3" cellpadding="5">

					<h:outputLabel for="nome" value="Nome" />
					<p:inputText id="nome" value="#{vagaBean.vaga.nome}" label="Nome"
						size="80" />
					<p:message for="nome" />

					<h:outputLabel for="desc" value="Descrição" />
					<p:editor id="desc" value="#{vagaBean.vaga.descricao}" label="end" />
					<p:message for="desc" />

					<h:outputLabel for="dataPub" value="Data Publicação" />
					<p:calendar id="dataPub" value="#{vagaBean.vaga.dataPublicacao}" mindate="#{vagaBean.minDataPublicacao}"
						locale="pt"></p:calendar>
					<p:message for="dataPub" />

				</h:panelGrid>
					<f:facet name="footer">
						<p:commandButton id="saveBtn" value="Salvar" icon="ui-icon-check"
							style="margin:0" action="#{vagaBean.salvar}" process="@form"
							update="frmVaga" ajax="true" />
					</f:facet>


			</p:panel>

			<p:dataTable id="listaVagas" var="vaga" value="#{vagaBean.vagaLazy}"
				lazy="true" paginator="true" rows="10"
				paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
				rowsPerPageTemplate="5,10,15">
				<p:column headerText="Id">
					<h:outputText value="#{vaga.id}" />
				</p:column>
				<p:column headerText="Nome">
					<h:outputText value="#{vaga.nome}" />
				</p:column>
				<p:column headerText="Descrição">
					<h:outputText value="#{vaga.descricao}" />
				</p:column>
				<p:column headerText="Data Publicação">
					<center>
						<h:outputText value="#{vaga.dataPublicacao}">
							<f:convertDateTime locale="pt" pattern="dd/MM/yyyy"></f:convertDateTime>
						</h:outputText>
					</center>
				</p:column>
				<p:column headerText="">
					<p:commandButton icon="ui-icon-trash"
						action="#{vagaBean.excluir(vaga.id)}" process="@this"
						update="listaVagas" ajax="true" />
				</p:column>
			</p:dataTable>
		</h:form>
	</ui:define>
</ui:composition>
</html>